[submodule "apps/lanonasis-maas"]
	path = apps/lanonasis-maas
	url = https://github.com/lanonasis/lanonasis-maas
[submodule "packages/onasis-core"]
	path = packages/onasis-core
	url = https://github.com/thefixer3x/Onasis-CORE.git
[submodule "apps/vortexcore"]
	path = apps/vortexcore
	url = https://github.com/thefixer3x/vortexcore
[submodule "apps/maple-site"]
	path = apps/maple-site
	url = https://github.com/thefixer3x/maple-movement-hub.git
