[submodule "apps/lanonasis-maas"]
	path = apps/lanonasis-maas
	url = https://github.com/lanonasis/lanonasis-maas
	branch = main
[submodule "apps/lanonasis-index"]
	path = apps/lanonasis-index
	url = https://github.com/thefixer3x/LanOnasisIndex.git
	branch = main
[submodule "apps/onasis-core"]
	path = apps/onasis-core
	url = https://github.com/thefixer3x/Onasis-CORE.git
	branch = main
[submodule "apps/dashboard"]
	path = apps/dashboard
	url = https://github.com/lanonasis/MaaS-dashboard.git
	branch = main
[submodule "apps/docs-lanonasis"]
	path = apps/docs-lanonasis
	url = https://github.com/lanonasis/docs-lanonasis-com
	branch = main
[submodule "apps/mcp-lanonasis"]
	path = apps/mcp-lanonasis
	url = https://github.com/lanonasis/mcp-lanonasis-com.git
	branch = main
[submodule "apps/mcp-core"]
	path = apps/mcp-core
	url = https://github.com/lanonasis/mcp-core.git
	branch = main
[submodule "packages/brand-kit"]
	path = packages/brand-kit
	url = https://github.com/lanonasis/onasis-brand-kit.git
	branch = main
